 #card button {
    background-color:#434343;
    border-radius: 5px;
  border-color: #434343;
    width: 120px;
    height: 50px;
    padding: 2px;
  }

  #card button:hover {
    background-color: gray;
  }
  
  #card button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
  }


  #BUTTONS{
    justify-content: space-around;
    display: flex;
    padding: 10px;
    margin-bottom: 100px;
  }
  
#contatos{
    display:flex;
    align-items:center;
   margin-left: 500px;
    
  }
  
  #Enviar{
    margin-top: 10px;
    margin-left: 30px;
  }
  
  #bnt{
    color: white;
    background: none;
    
  }

  #bnt:hover{
    color: white;
    background-color: gray;
    background: gray;
   width: 100px;
   padding: 2px;
  }