#BANNER{
    height: 300px;
    width:100%;
   }
   
#PROFILE__BOX{
     padding: 2rem;
     display:flex;
     gap: 2rem;
     margin-left: 30px;
     width: 500px;
   }
   

#profile__picture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: not-allowed;
    top: -150px;
    position: relative;
    margin-left: 500px;
  
  }
  #Profile__social:hover{
    transform: translateY(-5px);
    cursor: pointer;
  }
  #SMALL__IMAGES{
    position: absolute;
    display: flex; 
    align-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-left: 530px;
    width: 300px;
  }
 
#Profile__social{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  #Profile__socialgit{
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  #Profile__socialgit:hover{
    transform: translateY(-5px);
    cursor: pointer;

  }

  
  #card img{
    width: 360px;
    height: 300px;
    align-self: center;
  }