#NAVBAR{
    background-color: black;
    text-decoration: none;
    display: flex;
    gap: 100px;
    padding: 5px 0px 5px 200px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    z-index: 1;
    font-size: small
    
  }

  #git{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
  }

  .gitfinder p{
    color: white;
  }

  .gitfinder {
    display: flex;
    align-content: center;
    width: 90px;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    justify-content: space-evenly;
  }
  
#NAVBAR a:hover{
    color: white;
  }
  
  #NAVBAR ul{
    display: flex;
    gap: 20PX;
  }
  #NAVBAR li{
  list-style: none;
  }
  
  #NAVBAR a{
    text-decoration: none;
    color: gray;
  }

  #profile{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: not-allowed;
    
  }